
ul {
  padding: 15px
}

ul li {
  margin: 1px;
}

.center {
  margin-left:auto;
  margin-right: auto;
  width: 40%;
  display:block;
}

ul-tab {
  padding: 10px
}

ul-tab li {
  margin: 6px;
}

ul-pill {
  padding: 5px;
}

ul-pill li {
  margin: 6px;
}